@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Sassy+Frass&display=swap');
.hojaLegajo{
    font-family: 'Roboto', sans-serif;
    height: 29,7cm;
    width: 21cm;
    background-color: rgb(255, 255, 255);
    margin: left;
    
}
.tabla_columna_nombre{
    height: 20px;
    width: 150px;
    text-align: left;
    background-color: rgb(192, 190, 190);
    border: black solid 1px;
    font-size: medium;
}

.titulo_año{
    font-family: 'Roboto', sans-serif;


     max-width: 21cm;
    text-align: center;
    color: rgb(2, 61, 41);
    font-size: x-large;
    font-weight: 900;
 
}
.tabla_columna_cantidad{
    height: 20px;
    width: auto;
    text-align: center;
    background-color: rgb(192, 190, 190);
    border: black solid 1px;
    font-size: large;
    padding: 2px;
}
.tabla{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.titulo_legajo{
    font-family: 'Roboto', sans-serif;

   margin-top:1cm;
    max-width: 21cm;
   text-align: center;
   color: rgb(2, 61, 41);
   font-size: x-large;
   font-weight: 900;

   
}

.datosPersonales_legajo{
    text-align: left;
    margin-left: 1.5cm;
   color: rgb(0, 41, 27);
   font-size: small;
   
}
.sub_titulo_legajo{
    font-size: large;
}
